/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* General */
:root{
    --black: #000000;
    --grey: #4A4A4A;
    --greyfooter: #222222;
    --greybutton: #4A4A4A;
    --white: #FFFFFF;
    --green: #4BC800;
    --red: #F50820;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
}

h2{
    color: var(--red);
    background-color: var(--greybutton);
    padding: 10px;
    font-size: 15px;
}

/* Header */
header{
    width: 100%;
    padding: 10px 3px 0px 0px;
    height: 40px;
    justify-content: flex-end;
    display: flex;
}

a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey);
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}

/*Main*/
main{
    margin: 0 auto;
}

.container{
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}


.screen-user{
    position: relative;
    margin-top: 5px;
    width: calc(100% / 7);
    padding: 10px;
}

.name{
    position: absolute;
    background-color: var(--grey);
    font-size: 10px;
    color: var(--white);
    bottom: 3px;
}


/* Footer */
footer{
    width: 100%;
    padding: 5px 20px;
    background-color: var(--greyfooter);
}

.icon-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
    text-align: center;
}

li{
    text-align: center;
    list-style: none;
    padding: 0 10px;
    font-size: 12px;
}


/* Hover */
footer li:hover{
    color: var(--green);
    cursor: pointer;
}

h2:hover{
    color: var(--white);
    cursor: pointer;
}